
@{
    ViewData["Title"] = "Index";
}

<!-- Button trigger modal -->
<button id="btnNuevo" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="Nuevo()">
    Nuevo
</button>

<div id="divTabla">
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="lblTitulo"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="frmLibro" method="post">
            <div class="row">

                <div class="col-md-6">

                    <label>Id Libro</label>
                    <input type="text" class="form-control" readonly name="iidlibro"/>

                </div>

                <div class="col-md-6">

                    <label>Titulo</label>
                    <input type="text" class="form-control ob max-100 min-3" name="titulo"/>

                </div>

                <div class="col-md-6">

                    <label>Resumen</label>
                    <textarea type="text" class="form-control ob max-300 min-5" name="resumen"> </textarea>

                </div>

                <div class="col-md-6">

                    <label>Numero de paginas</label>
                    <input type="number" class="form-control ob" name="numeropaginas" />

                </div>

                <div class="col-md-6">

                       <label>Stock</label>
                       <input type="number" class="form-control ob" name="stock" />

                </div>

                <div class="col-md-6">

                       <label>Autor</label>
                       <select class="form-control ob" name="iidautor" id="cboAutor"></select>

                </div>

                <div class="col-md-6 mt-3">

                       <label>Tomar Foto de la Camara</label>
                       <video width="300" height="300" autoplay id="videoFoto" style="border:1px solid"></video>
                       <br/>
                            <button type="button" class="btn btn-primary" onclick="IniciarCamara('videoFoto')">Iniciar Camara</button>
                            <button type="button" class="btn btn-primary" onclick="ApagarCamara('videoFoto')">Tomar Foto</button>

                </div>

            </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnCerrar">Cerrar</button>
        <button type="button" class="btn btn-primary" onclick="GuardarDatos()">Guardar</button>
      </div>
    </div>
  </div>
</div>

@section scripts{
    <script src="~/js/libro.js"></script>
}