
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<script>

    window.onload=function(){
        var parseUrl= new URL(windows.location.toString())
        alert(parsedUrl.searchParams.get("texto"))
    }


</script>

