
@{
    ViewData["Title"] = "Index";
}

<button class="btn btn-primary" onclick="SeleccionarContactos()">Seleccione Contactos</button>

<div id="divContactos">

</div>

@section scripts{
    <script src="~/js/contacto.js"></script>
}

